/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: "proxima-nova";
  src: url('../fonts/ProximaNova-Light.otf') format('opentype'); }

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
    -webkit-text-size-adjust:none;
}

@import "compass/utilities/general/clearfix";
.clear {
	@include clearfix();
}

body, html {
	height: 100% !important;
	width: 768px;
	-webkit-user-select:none;
	overflow: hidden;
	display: block;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial;
}

#bottom-panel {
	background: #3A3939;
	height: 650px;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	width: 100%;
	-webkit-transform: translate(0, 500px);
	-webkit-transition: all .4s ease-in-out;
	.icon-bar {
		background: #4A4A4A;
		height: 150px;
		margin-bottom: 20px;
		position: relative;
		div {
			-webkit-transition: all .2s ease-in-out;
			&.tapped {
				-webkit-transform: scale(0.9);
			}
		}
		.expand {
			height: 100%;
			width: 125px;
			margin: 0 auto;
			background: black;
			cursor: pointer;
			background: url(../images/menu.svg) no-repeat 50% 50%;
		}
		.left {
			height: 100%;
			width: 125px;
			left: 0;
			position: absolute;
			background: black;
			cursor: pointer;
			background: url(../images/arrow2.svg) no-repeat 50% 50%;
		}
		.right {
			height: 100%;
			width: 125px;
			right: 0;
			top: 0;
			position: absolute;
			background: black;
			cursor: pointer;
			background: url(../images/arrow.svg) no-repeat 50% 50%;
		}
	}
	&.active {
		-webkit-transform: translate(0, 0);
	}
	input {
		width: 90%;
		margin: 0 5%;
		-webkit-user-select:text;
		background: #4A4A4A url(../images/search.svg) no-repeat 8px 50%;
		background-size: 45px 45px;
		padding: 10px 10px 10px 62px;
		font-size: 2em;
		color: #f6f6f6;
		border: none;
		-webkit-border-radius: 4px;
	}
}

#recipe-panel-progress {
	text-align: center;
	width: 100%;
	.progress-circle {
		background: rgba(255,255,255,0.5);
		width: 10px;
		height: 10px;
		-webkit-border-radius: 10px;
		margin: 0 .2em;
		display: inline-block;
		&.active {
			background: rgba(255,255,255,1);
		}
	}
}

#recipe-list-wrapper {
	height: 390px;
	width: 768px;
	overflow-y: hidden;
	overflow-x: scroll;
	#recipe-list {
		width: 5000px;
		overflow-x: scroll;
	}
	.recipe-pane {
		overflow: hidden;
		height: 400px;
		display: inline-block;
		float: left;
		width: 768px;
		position: relative;
	}

	li {
		display: inline-block;
		float: left;
		width: 25%;
		height: 150px;
		text-align: center;
		color: #f6f6f6;
		margin: 1.2em 0;
		padding: 0 1.8em;
		-webkit-backface-visibility: hidden;
		span {
			font-size: 1em;
			font-weight: lighter;
			line-height: 1.4;
		}
		svg {
			width: 110px;
			height: 110px;
			margin-bottom: .2em;
			-webkit-backface-visibility: hidden;
			-webkit-transition: all .1s ease-in-out;
		}
		
		&.tapped svg {
			-webkit-backface-visibility: hidden;
			-webkit-transform: scale(0.9);
		}
	}
}

#app {
}

#full-page {
	text-align: center;
	#app-icon {
		width: 500px;
		height: 500px;
		margin: 10em 0;
	}
	padding-bottom: 150px;
	height: 900px;
	overflow-y: hidden;
	.recipe-wrapper {
		width: 10000px;
	}
	.recipe {
		padding: 5em 4em;
		margin : 0 4em;
		text-align: center;
		display: inline-block;
		float: left;
		width: 768px;
		height: 900px;
		@include clearfix();
		.recipe-inner {
			height: auto;
			width: 100%;
			position: relative;
			@include clearfix();
		}
		color: #999;
		overflow: hidden;
		line-height: 1.4;
		-webkit-transition: all .8s ease-in-out;
		-webkit-transform: translate(0, 0);
		-webkit-backface-visibility: hidden;
		&.goleft {
			-webkit-transform: translate(-768px, 0);
		}
		&.active {
			-webkit-transform: translate(0, -830px);
		}
		.down {
			background: url(../images/down.svg);
			width: 72px;
			height: 72px;
			margin: 0 auto 4em;
			-webkit-transition: all .1s ease-in-out;
			-webkit-transform: scale(1);
			-webkit-backface-visibility: hidden;
			&.tapped {
				-webkit-transform: scale(0.9);
			}
		}
		svg {
			width: 500px;
			height: 500px;
		}
		h1 {
			margin-top: 1em;
			margin-bottom: 1em;
			font-size: 3em;
			color: #ccc;
			font-weight: lighter;
		}
		.left-col {
			width: 30%;
			float: left;
			text-align: left;
			padding-top: 2em;
			color: #aaa;
			strong {
				color: #666;
			}
		}
		.right-col {
			text-align: left;
			width: 60%;
			height: 980px;
			float: right;
			padding-top: 2em;
		}
		h2 {
			font-size: 1.6em;
			color: #777;
			margin-bottom: 1em;
		}
	}
}

@media (max-width: 400px) {
	#bottom-panel {
	background: #3A3939;
	height: 460px;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	width: 100%;
	-webkit-transform: translate(0, 385px);
	-webkit-transition: all .4s ease-in-out;
	.icon-bar {
		background: #4A4A4A;
		height: 75px;
		margin-bottom: 20px;
		position: relative;
		div {
			-webkit-transition: all .2s ease-in-out;
			&.tapped {
				-webkit-transform: scale(0.9);
			}
		}
		.expand {
			height: 100%;
			width: 125px;
			margin: 0 auto;
			background: black;
			cursor: pointer;
			background: url(../images/menu.svg) no-repeat 50% 50%;
			background-size: 50px 50px;
		}
		.left {
			height: 100%;
			width: 125px;
			left: 0;
			position: absolute;
			background: black;
			cursor: pointer;
			background: url(../images/arrow2.svg) no-repeat 50% 50%;
			background-size: 35px 35px;
		}
		.right {
			height: 100%;
			width: 125px;
			right: 0px;
			top: 0;
			position: absolute;
			background: black;
			cursor: pointer;
			background: url(../images/arrow.svg) no-repeat 50% 50%;
			background-size: 35px 35px;
		}
	}
	&.active {
		-webkit-transform: translate(0, 0);
	}
	input {
		width: 90%;
		margin: 0 5%;
		background: #4A4A4A url(../images/search.svg) no-repeat 8px 50%;
		background-size: 35px 35px;
		padding: 10px 10px 10px 62px;
		font-size: 1em;
		color: #f6f6f6;
		border: none;
		-webkit-border-radius: 4px;
	}
}

#recipe-panel-progress {
	text-align: center;
	width: 100%;
	.progress-circle {
		background: rgba(255,255,255,0.5);
		width: 10px;
		height: 10px;
		-webkit-border-radius: 10px;
		margin: 0 .2em;
		display: inline-block;
		&.active {
			background: rgba(255,255,255,1);
		}
	}
}

#recipe-list-wrapper {
	height: 292px;
	width: 320px;
	overflow-y: hidden;
	overflow-x: scroll;
	#recipe-list {
		width: 5000px;
		overflow-x: scroll;
	}
	.recipe-pane {
		overflow: hidden;
		height: 400px;
		display: inline-block;
		float: left;
		width: 320px;
		position: relative;
	}

	li {
		display: inline-block;
		float: left;
		width: 33%;
		height: 74px;
		text-align: center;
		color: #f6f6f6;
		margin: 1.8em 0;
		padding: 0 .6em;
		-webkit-backface-visibility: hidden;
		span {
			font-size: .8em;
			font-weight: lighter;
			line-height: 1.4;
		}
		svg {
			width: 65px;
			height: 65px;
			margin-bottom: .2em;
			-webkit-backface-visibility: hidden;
			-webkit-transition: all .1s ease-in-out;
		}
		
		&.tapped svg {
			-webkit-backface-visibility: hidden;
			-webkit-transform: scale(0.9);
		}
	}
}

#app {
}

#full-page {
	text-align: center;
	width: 320px !important;
	#app-icon {
		width: 250px;
		height: 250px;
		margin: 5em 0;
	}
	padding-bottom: 150px;
	height: 900px;
	overflow: hidden;
	.recipe {
		padding: 2em;
		text-align: center;
		color: #999;
		overflow: hidden;
		line-height: 1.4;
		
		-webkit-transition: all .8s ease-in-out;
		-webkit-transform: translate(0, 0);
		-webkit-backface-visibility: hidden;
		display: inline-block;
		float: left;
		width: 320px;
		height: 425px;
		@include clearfix();
		.recipe-inner {
			height: auto;
			width: 100%;
			position: relative;
			padding-bottom: 6em;
			@include clearfix();
		}
		&.active {
			-webkit-transform: translate(0, -410px);
		}
		.down {
			background: url(../images/down.svg);
			width: 72px;
			height: 72px;
			margin: 0 auto 4em;
			-webkit-transition: all .1s ease-in-out;
			-webkit-transform: scale(1);
			-webkit-backface-visibility: hidden;
			&.tapped {
				-webkit-transform: scale(0.9);
			}
		}
		svg {
			width: 200px;
			height: 200px;
		}
		h1 {
			margin-top: .5em;
			margin-bottom: .5em;
			font-size: 1.6em;
			line-height: 1.2;
			color: #ccc;
			font-weight: lighter;
		}
		.left-col {
			width: 100%;
			float: left;
			text-align: left;
			color: #aaa;
			margin-bottom: 2em;
			strong {
				color: #666;
			}
		}
		.right-col {
			text-align: left;
			width: 100%;
			float: right;
			height: auto;
		}
		h2 {
			font-size: 1.6em;
			color: #777;
			margin-bottom: 1em;
		}
	}
}
}